.login--container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

:host(login){
    height: 100%;
}

.login--form{
    width: 50%;
    padding: 0 20px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.login--header{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.login--error{
    color: red;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .login--form{
        width: 100%;
    }
}