<div class="sun-rise-set--container">
  <p class="srss--header">Sunrise & Sunset</p>
  <div class="srss-col-container">
    <div class="sun-rise-set-card">
      <div class="srss-left-content">
        <img src="../../../../assets/images/sun.png" alt="Sunrise" />
        <div class="srss--content">
          <p class="srss-sun--text">Sunrise</p>
          <p class="srss-sun--time">4:20 AM</p>
        </div>
      </div>
      <div class="srss-right-content">
        <p class="srss-sun--hours">4 Hours ago</p>
      </div>
    </div>
    <div class="sun-rise-set-card">
      <div class="srss-left-content">
        <img src="../../../../assets/images/sunset-.png" alt="Sunset" />
        <div class="srss--content">
          <p class="srss-sun--text">Sunset</p>
          <p class="srss-sun--time">6:20 PM</p>
        </div>
      </div>
      <div class="srss-right-content">
        <p class="srss-sun--hours">in 2 hours</p>
      </div>
    </div>
  </div>
</div>
