<h1 class="overview-heading">Today Overview</h1>
<div class="overview-container">
  <div class="card-container">
    <h2><i class="fa-solid fa-temperature-three-quarters icon"></i></h2>
    <div class="overview-detail">
      <h3 class="weather-detail">
        High/Low<br /><span class="report">30°/26.4°</span>
      </h3>
    </div>
  </div>
  <div class="card-container">
    <h2><i class="fa-solid fa-wind icon"></i></h2>
    <div class="overview-detail">
      <h3 class="weather-detail">
        Wind Speed<br /><span class="report">12km/h</span>
      </h3>
    </div>
  </div>
  <div class="card-container">
    <h2><i class="fa-solid fa-droplet icon"></i></h2>
    <div class="overview-detail">
      <h3 class="weather-detail">
        Rain Chance<br /><span class="report">24%</span>
      </h3>
    </div>
  </div>
  <div class="card-container">
    <h2><i class="fa-solid fa-eye icon"></i></h2>
    <div class="overview-detail">
      <h3 class="weather-detail">
        Visibility<br /><span class="report">10km</span>
      </h3>
    </div>
  </div>
</div>
