<div class="redional-detail-header--container">
  <div class="rdh-region--container">
    <div>
      <p class="rdh-region-text">Kolkata</p>
      <p class="rdh-state-country-text">West Bengal, India</p>
    </div>
    <p class="rdh-time-text">{{ currentTime }}</p>
  </div>
  <div class="rdh-weather--container">
    <div>
      <p><i class="fa-solid fa-cloud fa-2xl" style="color: #ffffff"></i></p>
      <p class="rdh-temp-text">20° C</p>
    </div>
    <p class="rdh-temp-value-text">Partly cloudy</p>
  </div>
</div>
