<div class="redional-detail-header--container">
  <div class="rdh-region--container">
    <div>
      <p class="rdh-region-text">{{ (weather$ | async)?.city }}</p>
      <p class="rdh-state-country-text">
        {{ (weather$ | async)?.state }}, {{ (weather$ | async)?.country }}
      </p>
    </div>
    <p class="rdh-time-text">{{ currentTime | isoToAmPm }}</p>
  </div>
  <div class="rdh-weather--container">
    <div>
      <p><i class="fa-solid fa-cloud fa-2xl" style="color: #ffffff"></i></p>
      <p class="rdh-temp-text">{{ (weather$ | async)?.temperature | appender:'°C' }}</p>
    </div>
    <p class="rdh-temp-value-text">{{ (weather$ | async)?.weatherStatus }}</p>
  </div>
</div>
