.app-container {
  display: flex;
  background-color: transparent;
  background-size: cover;
  padding: 12px;
  flex-wrap: wrap;
}

.year-container,
.search-container {
  margin: 0;
  padding: 0;
}

.month-and-year {
  font-size: 16px;
  font-weight: 600;
}

.full-date {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.search-icon {
  position: absolute;
  margin: 12px;
}

.search-bar {
  height: 40px;
  padding-left: 32px;
}

.line {
  width: 100%;
}
